<IfModule mod_rewrite.c>
  RewriteEngine on
  # if the request is not a file/directory, redirect to index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule (.*) index.php/$1 [NC,L]	# all requests will be sent to index.php/requestedPath - [not case, last]
</IfModule>